table {
  border-spacing: 0;
  text-align: left;
}

table th {
  font-size: 1.5rem;
}

table td,
table th {
  padding: 0.5rem 1rem;
}

table tr:nth-child(even) {
  background-color: ghostwhite;
}

h2,
p {
  margin-left: 1rem;
}

h2 {
  border-top: 6px solid ghostwhite;
  padding-top: 1rem;
  font-size: 2.5rem;
  margin-bottom: 0.1rem;
}

div,
p {
  border-top: 3px solid ghostwhite;
  font-size: 1.25rem;
}
